@font-face {
  font-family: 'Anton';
  src: url('/Portfolio/font/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anton', sans-serif;
  background-color: #fff;
  color: #000;
}


.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid #ddd;
}

.logo {
  font-size: 24px;
  color: crimson;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav a.active,
.nav a:hover {
  color: crimson;
  font-weight: bold;
}

.hero {
  padding: 40px;
}

.hero h2 {
  font-size: 24px;
  font-weight: 400;
}

.hero h1 {
  display: flex;
  justify-content: space-between;
  font-size: 11vw; /* Responsive font */
  padding: 0 1vw;
  letter-spacing: -0.5vw; /* Tweak if needed */
  width: 100vw;
  overflow: hidden;
}


.D, .V, .E2, .L, .E3, .R {
  color: #9F1B30;
}

/* White letters with red border */
.O, .P, .E1{
  color: white; /* Fill color (white = transparent when background is also white) */
  -webkit-text-stroke: 2px #9F1B30; /* Red outline */
}

