.aboutme{
    display:flex;
    align-items:center;

}


.aboutme-info{
    flex:1;
    margin-left: 200px;
}

.aboutme-info section{
    margin-bottom: 20px;
}

.aboutmetitle{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #30221E;
    margin-bottom: -15px;
}

.aboutmeInfo{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #30221E;
    margin-bottom: -1px;
}

.aboutme-image {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: max-content;
    left: 90px;   /* Moves the whole camera 20px to the right */

    transition: transform .2s ease;
}

.aboutme-image:hover {
    transform: scale(1.02);
}
.camera-screen {
    position: absolute;

    /* Adjust these until they line up */
    top: 6px;
    left: 32px;

    width: 161px;
    height: 207px;
    overflow: hidden;
}

.camera-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: opacity .2s ease;
}