@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.capstone-github-link {
  display: inline-flex;
  width: fit-content;
  margin-top: 8px;
  color: #2b201d;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.capstone-github-link:hover {
  color: #666;
}

.skills-page {
    display:flex;
    align-items:center;
    padding-bottom: 40px;
    position: relative;
}


/* Giant title */

.skills-title {
    font-family: "Anton", sans-serif;
    font-size: 100px;
    font-weight: 800;

    color: #30221E;
    text-align: center;
    margin: 0;

    z-index: 0;
    pointer-events: none;
    position: absolute;

    top: 30px;      
    left: 0;
    right: 0;
    width: 100%;
    white-space: nowrap;
}

/* 4 Columns */

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 40px;
    justify-content: center;
    align-items: start;
    
    position: relative;
    z-index: 10;
    margin-top: 10px;
    width: 100%;
}

/* Card */



/* Image */

.skill-image {
    object-fit: cover;
    align-self: end;
}

.skill-frontend, .skill-backend {
    width: 130px;
    height: 158px;
    object-fit: cover;
}

.skill-design, .skill-tools {
    width: 180px;
    height: 112px;
    object-fit: cover;
}

/* Category */


/* Skill List */

.skill-list {
    display: flex;
    flex-direction: column;
    gap: -2px;
}

.skill-item {
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 25px;
    align-items: center;
}

.skill-item span {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #7b716d;
    line-height: 1.2;
}

.skill-item p {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #30221E;
    line-height: 1.2;
    white-space: nowrap;
}


