@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.skills-page {
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-top: 200px;
    padding-bottom: 40px;
    position: relative;
}


/* Giant title */

.skills-title {
    font-family: "Anton", sans-serif;
    font-size: 100px;
    font-weight: 800;

    color: #30221E;
    text-align: center;
    margin: 0;

    z-index: 0;
    position: relative;
    width: 100%;
}

/* 4 Columns */

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 40px;
    justify-content: center;
    align-items: start;
    

    position: relative;
    z-index: 10;
    margin-top: -30px; /* Pull up to overlap the title */
    width: 100%;
}

/* Card */

.skill-card {
    display: grid;
    grid-template-rows: 50px auto 1fr;
    row-gap: 20px;
    width: 220px;
    justify-items: center;
}

/* Image */

.skill-image {
    object-fit: cover;
    align-self: end;
}

.skill-frontend, .skill-backend {
    width: 130px;
    height: 158px;
    object-fit: cover;
}

.skill-design, .skill-tools {
    width: 180px;
    height: 112px;
    object-fit: cover;
}

/* Category */

.skill-card a {
    font-family: "Anton", sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #30221E;
    margin: 0;
    text-align: left;
}

/* Skill List */

.skill-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.skill-item {
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 20px;
    align-items: center;
}

.skill-item span {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #7b716d;
    line-height: 1.2;
}

.skill-item p {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #30221E;
    line-height: 1.2;
    white-space: normal;
}


/* Page Number */

.page-number {
    position: relative;

    top: 30px;      /* Y position */
    right: 35px;    /* X position */

    text-align: right;

    font-family: "Poppins", sans-serif;
    font-size: 24px;
    letter-spacing: .08em;

    color: #7b716d;
    z-index: 1000;
    cursor: pointer;
}